/* style.css */

/* Définir le fond d'écran pour la fenêtre */
QStackedWidget {
    /*background-color: #0000ff;*/
}

QStackedWidget > QWidget#ecranAccueil {
    background-color: #FF0000;
    /*background-image: url(":/ecranAccueilQT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
}

QLabel#connexionBluetooth {
    color: #00ff00;
}
