/* style.css */

/* Fenêtre principale */
QWidget {
    background-color: #616161; /* Gris foncé */
    margin: 5px;
    padding: 0px;
}

/* Écrans */
/*QStackedWidget#ecransInterface {
    background-image: url(":/ecranAccueilQT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 3px solid #a8d08d;
}*/

/* Écran Accueil */
QStackedWidget > QWidget#ecranAccueil {
    background-image: url(":/ecranAccueilQT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 3px solid #a8d08d;
    margin: 0px;
    padding: 0px;
}

QLabel#affichageCreateurs {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageVersion {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#connexionBluetooth {
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    color: #d4a373;
}

QLabel#connexionBluetooth.connecte {
    color: #3A7D44;
}

QLabel#connexionBluetooth.deconnecte {
    color: #d4a373;
}

QLabel#configurationPartie {
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    color: #d4a373;
}

QLabel#configurationPartie.configure {
    color: #3A7D44;
}

/* Écran Match */
QWidget#ecranMatch {
    background-image: url(":/ecranMatchQT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 3px solid #a8d08d;
    margin: 0px;
    padding: 0px;
}

QLabel#affichageJoueurUn {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageJoueurDeux {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageCouleurAttribueJoueurUn{
    background-image: url(:/bouleAttribueQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#affichageCouleurAttribueJoueurDeux{
    background-image: url(:/bouleAttribueQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#affichageCouleurAttribueJoueurUn.attribuerRouge {
    background-image: url(:/bouleRougeQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#affichageCouleurAttribueJoueurDeux.attribuerRouge {
    background-image: url(:/bouleRougeQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#affichageCouleurAttribueJoueurUn.attribuerJaune {
    background-image: url(:/bouleJauneQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#affichageCouleurAttribueJoueurDeux.attribuerJaune {
    background-image: url(:/bouleJauneQT.png);
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#labelChronometre {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#labelCompteAReboursManche {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageNumeroTable {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageNomJeu {
    font-size: 30px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#bouleRouge {
    background-image: url(:/bouleRougeQT.png);
    background-color: red;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#bouleJaune {
    background-image: url(:/bouleJauneQT.png);
    background-color: yellow;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#bouleBlanche {
    background-image: url(:/bouleBlancheQT.png);
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#bouleNoir {
    background-image: url(:/bouleNoirQT.png);
    background-color: black;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QWidget#poche {
    background-color: none;
    background-position: center;
}

.bouleJaunePoche {
    background-image: url(:/bouleJauneQT.png);
    background-color: yellow;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

QLabel#compteurBoulesRougesPoche0{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesRougesPoche1{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesRougesPoche2{
font-size: 40px;
background-color: none;
border: none;
text-align: center;
font-family: 'REM';
margin: 0px;
padding: 0px;
}

QLabel#compteurBoulesRougesPoche3{
font-size: 40px;
background-color: none;
border: none;
text-align: center;
font-family: 'REM';
margin: 0px;
padding: 0px;
}

QLabel#compteurBoulesRougesPoche4{
font-size: 40px;
background-color: none;
border: none;
text-align: center;
font-family: 'REM';
margin: 0px;
padding: 0px;
}

QLabel#compteurBoulesRougesPoche5{
font-size: 40px;
background-color: none;
border: none;
text-align: center;
font-family: 'REM';
margin: 0px;
padding: 0px;
}

QLabel#compteurBoulesJaunesPoche0{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesJaunesPoche1{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesJaunesPoche2{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesJaunesPoche3{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesJaunesPoche4{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#compteurBoulesJaunesPoche5{
    font-size: 40px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}

QLabel#affichageMessage {
    font-size: 30px;
    background-color: darkgreen;
    color: white;
    border: 5px solid red;
    border-radius: 10px;
    font-family: 'REM';
}


/* Écran Fin */
QWidget#ecranFin {
    background-image: url(":/ecranFinQT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 3px solid #a8d08d;
    margin: 0px;
    padding: 0px;
}

QLabel#affichageJoueurGagnant {
    font-size: 45px;
    background-color: none;
    border: none;
    text-align: center;
    font-family: 'REM';
    margin: 0px;
    padding: 0px;
}
